#### Ranking with Gemini API

#### import libraries

#### Load dataset

In [47]:
import pandas as pd
import os
from google import genai
import re
import json

In [49]:
file_path = r"C:\Users\USER\Documents\Potential_Talent\potential-talents - Aspiring human resources - seeking human resources.csv"
df = pd.read_csv(file_path)
df.head()

,id,job_title,location,connection,fit
0,1,2019 C.T. Bauer College of Business Graduate (...,"Houston, Texas",85,NaN
1,2,Native English Teacher at EPIK (English Progra...,Kanada,500+,NaN
2,3,Aspiring Human Resources Professional,"Raleigh-Durham, North Carolina Area",44,NaN
3,4,People Development Coordinator at Ryan,"Denton, Texas",500+,NaN
4,5,Advisory Board Member at Celal Bayar University,"İzmir, Türkiye",500+,NaN

In [5]:
print(df.shape)

(104, 5)

#### Drop fit column

In [51]:
df = df.drop(columns = ['fit'])
df.head()

,id,job_title,location,connection
0,1,2019 C.T. Bauer College of Business Graduate (...,"Houston, Texas",85
1,2,Native English Teacher at EPIK (English Progra...,Kanada,500+
2,3,Aspiring Human Resources Professional,"Raleigh-Durham, North Carolina Area",44
3,4,People Development Coordinator at Ryan,"Denton, Texas",500+
4,5,Advisory Board Member at Celal Bayar University,"İzmir, Türkiye",500+

#### Create text column from df

In [53]:

df["text"] = (
    df["job_title"].astype(str).str.lower() + ", " 
    + df["location"].astype(str).str.lower() 
    + " (connections: " + df["connection"].astype(str) + ")"
)

df.head()

,id,job_title,location,connection,text
0,1,2019 C.T. Bauer College of Business Graduate (...,"Houston, Texas",85,2019 c.t. bauer college of business graduate (...
1,2,Native English Teacher at EPIK (English Progra...,Kanada,500+,native english teacher at epik (english progra...
2,3,Aspiring Human Resources Professional,"Raleigh-Durham, North Carolina Area",44,"aspiring human resources professional, raleigh..."
3,4,People Development Coordinator at Ryan,"Denton, Texas",500+,"people development coordinator at ryan, denton..."
4,5,Advisory Board Member at Celal Bayar University,"İzmir, Türkiye",500+,advisory board member at celal bayar universit...

#### Extract text column from df and work with it

In [55]:
text_series = df["text"]

for t in text_series.head():
    print(t)

2019 c.t. bauer college of business graduate (magna cum laude) and aspiring human resources professional, houston, texas (connections: 85)
native english teacher at epik (english program in korea), kanada (connections: 500+ )
aspiring human resources professional, raleigh-durham, north carolina area (connections: 44)
people development coordinator at ryan, denton, texas (connections: 500+ )
advisory board member at celal bayar university, i̇zmir, türkiye (connections: 500+ )

#### split the dataset into chunks with 13 rows per chunk

In [57]:
chunk_size = 13
chunks = [text_series[i:i + chunk_size] for i in range(0, len(text_series), chunk_size)]

print(f"Number of chunks: {len(chunks)}")

for idx, chunk in enumerate(chunks):
    print(f"\nChunk {idx+1} (size {len(chunk)}):")
    for item in chunk:
        print(item)

Number of chunks: 8

Chunk 1 (size 13):
2019 c.t. bauer college of business graduate (magna cum laude) and aspiring human resources professional, houston, texas (connections: 85)
native english teacher at epik (english program in korea), kanada (connections: 500+ )
aspiring human resources professional, raleigh-durham, north carolina area (connections: 44)
people development coordinator at ryan, denton, texas (connections: 500+ )
advisory board member at celal bayar university, i̇zmir, türkiye (connections: 500+ )
aspiring human resources specialist, greater new york city area (connections: 1)
student at humber college and aspiring human resources generalist, kanada (connections: 61)
hr senior specialist, san francisco bay area (connections: 500+ )
student at humber college and aspiring human resources generalist, kanada (connections: 61)
seeking human resources hris and generalist positions, greater philadelphia area (connections: 500+ )
student at chapman university, lake forest, california (connections: 2)
svp, chro, marketing & communications, csr officer | engie | houston | the woodlands | energy | gphr | sphr, houston, texas area (connections: 500+ )
human resources coordinator at intercontinental buckhead atlanta, atlanta, georgia (connections: 500+ )

Chunk 2 (size 13):
2019 c.t. bauer college of business graduate (magna cum laude) and aspiring human resources professional, houston, texas (connections: 85)
2019 c.t. bauer college of business graduate (magna cum laude) and aspiring human resources professional, houston, texas (connections: 85)
native english teacher at epik (english program in korea), kanada (connections: 500+ )
aspiring human resources professional, raleigh-durham, north carolina area (connections: 44)
people development coordinator at ryan, denton, texas (connections: 500+ )
2019 c.t. bauer college of business graduate (magna cum laude) and aspiring human resources professional, houston, texas (connections: 85)
native english teacher at epik (english program in korea), kanada (connections: 500+ )
aspiring human resources professional, raleigh-durham, north carolina area (connections: 44)
people development coordinator at ryan, denton, texas (connections: 500+ )
advisory board member at celal bayar university, i̇zmir, türkiye (connections: 500+ )
aspiring human resources specialist, greater new york city area (connections: 1)
student at humber college and aspiring human resources generalist, kanada (connections: 61)
hr senior specialist, san francisco bay area (connections: 500+ )

Chunk 3 (size 13):
aspiring human resources management student seeking an internship, houston, texas area (connections: 500+ )
seeking human resources opportunities, chicago, illinois (connections: 390)
aspiring human resources management student seeking an internship, houston, texas area (connections: 500+ )
seeking human resources opportunities, chicago, illinois (connections: 390)
2019 c.t. bauer college of business graduate (magna cum laude) and aspiring human resources professional, houston, texas (connections: 85)
native english teacher at epik (english program in korea), kanada (connections: 500+ )
aspiring human resources professional, raleigh-durham, north carolina area (connections: 44)
people development coordinator at ryan, denton, texas (connections: 500+ )
advisory board member at celal bayar university, i̇zmir, türkiye (connections: 500+ )
aspiring human resources specialist, greater new york city area (connections: 1)
student at humber college and aspiring human resources generalist, kanada (connections: 61)
hr senior specialist, san francisco bay area (connections: 500+ )
student at humber college and aspiring human resources generalist, kanada (connections: 61)

Chunk 4 (size 13):
seeking human resources hris and generalist positions, greater philadelphia area (connections: 500+ )
student at chapman university, lake forest, california (connections: 2)
svp, chro, marketing & communications, csr officer | engie | houston | the woodlands | energy | gphr | sphr, houston, texas area (connections: 500+ )
human resources coordinator at intercontinental buckhead atlanta, atlanta, georgia (connections: 500+ )
2019 c.t. bauer college of business graduate (magna cum laude) and aspiring human resources professional, houston, texas (connections: 85)
native english teacher at epik (english program in korea), kanada (connections: 500+ )
aspiring human resources professional, raleigh-durham, north carolina area (connections: 44)
people development coordinator at ryan, denton, texas (connections: 500+ )
advisory board member at celal bayar university, i̇zmir, türkiye (connections: 500+ )
aspiring human resources specialist, greater new york city area (connections: 1)
student at humber college and aspiring human resources generalist, kanada (connections: 61)
hr senior specialist, san francisco bay area (connections: 500+ )
student at humber college and aspiring human resources generalist, kanada (connections: 61)

Chunk 5 (size 13):
seeking human resources hris and generalist positions, greater philadelphia area (connections: 500+ )
student at chapman university, lake forest, california (connections: 2)
svp, chro, marketing & communications, csr officer | engie | houston | the woodlands | energy | gphr | sphr, houston, texas area (connections: 500+ )
human resources coordinator at intercontinental buckhead atlanta, atlanta, georgia (connections: 500+ )
2019 c.t. bauer college of business graduate (magna cum laude) and aspiring human resources professional, houston, texas (connections: 85)
aspiring human resources professional, raleigh-durham, north carolina area (connections: 44)
people development coordinator at ryan, denton, texas (connections: 500+ )
aspiring human resources specialist, greater new york city area (connections: 1)
hr senior specialist, san francisco bay area (connections: 500+ )
seeking human resources hris and generalist positions, greater philadelphia area (connections: 500+ )
student at chapman university, lake forest, california (connections: 2)
svp, chro, marketing & communications, csr officer | engie | houston | the woodlands | energy | gphr | sphr, houston, texas area (connections: 500+ )
human resources coordinator at intercontinental buckhead atlanta, atlanta, georgia (connections: 500+ )

Chunk 6 (size 13):
experienced retail manager and aspiring human resources professional, austin, texas area (connections: 57)
human resources, staffing and recruiting professional, jackson, mississippi area (connections: 500+ )
human resources specialist at luxottica, greater new york city area (connections: 500+ )
director of human resources north america, groupe beneteau, greater grand rapids, michigan area (connections: 500+ )
retired army national guard recruiter, office manager,  seeking a position in human resources., virginia beach, virginia (connections: 82)
human resources generalist at scottmadden, inc., raleigh-durham, north carolina area (connections: 500+ )
business management major and aspiring human resources manager, monroe, louisiana area (connections: 5)
aspiring human resources manager, seeking internship in human resources., houston, texas area (connections: 7)
human resources professional, greater boston area (connections: 16)
nortia staffing is seeking human resources, payroll & administrative professionals!!  (408) 709-2621, san jose, california (connections: 500+ )
aspiring human resources professional | passionate about helping to create an inclusive and engaging work environment, new york, new york (connections: 212)
human resources|
conflict management|
policies & procedures|talent management|benefits & compensation, dallas/fort worth area (connections: 409)
human resources generalist at schwan's, amerika birleşik devletleri (connections: 500+ )

Chunk 7 (size 13):
liberal arts major. aspiring human resources analyst., baton rouge, louisiana area (connections: 7)
junior mes engineer| information systems, myrtle beach, south carolina area (connections: 52)
senior human resources business partner at heil environmental, chattanooga, tennessee area (connections: 455)
aspiring human resources professional | an energetic and team-focused leader, austin, texas area (connections: 174)
hr manager at endemol shine north america, los angeles, california (connections: 268)
human resources professional for the world leader in gis software, highland, california (connections: 50)
rrp brand portfolio executive at jti (japan tobacco international), greater philadelphia area (connections: 500+ )
information systems specialist and programmer with a love for data and organization., gaithersburg, maryland (connections: 4)
bachelor of science in biology from victoria university of wellington, baltimore, maryland (connections: 40)
human resources management major, milpitas, california (connections: 18)
director human resources  at ey, greater atlanta area (connections: 349)
undergraduate research assistant at styczynski lab, greater atlanta area (connections: 155)
lead official at western illinois university, greater chicago area (connections: 39)

Chunk 8 (size 13):
seeking employment opportunities within customer service or patient care, torrance, california (connections: 64)
admissions representative at community medical center long beach, long beach, california (connections: 9)
seeking human  resources opportunities. open to travel and relocation., amerika birleşik devletleri (connections: 415)
student at westfield state university, bridgewater, massachusetts (connections: 57)
student at indiana university kokomo - business management -
retail manager at delphi hardware and paint, lafayette, indiana (connections: 19)
aspiring human resources professional, kokomo, indiana area (connections: 71)
student, houston, texas area (connections: 4)
seeking human resources position, las vegas, nevada area (connections: 48)
aspiring human resources manager | graduating may 2020 | seeking an entry-level human resources position in st. louis, cape girardeau, missouri (connections: 103)
human resources generalist at loparex, raleigh-durham, north carolina area (connections: 500+ )
business intelligence and analytics at travelers, greater new york city area (connections: 49)
always set them up for success, greater los angeles area (connections: 500+ )
director of administration at excellence logging, katy, texas (connections: 500+ )

#### Define the keywords, set instructions and apply them to the candidates

In [59]:

keywords = "aspiring human resources OR seeking human resources"

chunk_instructions = []

for chunk_idx, chunk in enumerate(chunks, start=1):

    instruction = f"""
Rank each candidate for relevance to: "{keywords}"

IMPORTANT:
- Output ONLY a JSON array.
- Each item must have "index" and "score".
- Scores must be continuous values strictly **greater than 0 and less than 1** (e.g., 0.01 to 0.99).
- Do NOT use binary scoring (0 or 1).
- Include ALL candidates.
- Round scores to EXACTLY 2 decimals.
- Do NOT truncate output.

Example (do NOT copy scores):
[
  {{"index": 1, "score": <score>}},
  {{"index": 2, "score": <score>}}
]

Candidates:
"""

    for i, text in enumerate(chunk, start=1):
        instruction += f"{i}. {text}\n"

    chunk_instructions.append(instruction)

    print(f"\n--- Chunk {chunk_idx} Instruction ---")
    print(instruction)

--- Chunk 1 Instruction ---

Rank each candidate for relevance to: "aspiring human resources OR seeking human resources"

IMPORTANT:
- Output ONLY a JSON array.
- Each item must have "index" and "score".
- Scores must be continuous values strictly **greater than 0 and less than 1** (e.g., 0.01 to 0.99).
- Do NOT use binary scoring (0 or 1).
- Include ALL candidates.
- Round scores to EXACTLY 2 decimals.
- Do NOT truncate output.

Example (do NOT copy scores):
[
  {"index": 1, "score": <score>},
  {"index": 2, "score": <score>}
]

Candidates:
1. 2019 c.t. bauer college of business graduate (magna cum laude) and aspiring human resources professional, houston, texas (connections: 85)
2. native english teacher at epik (english program in korea), kanada (connections: 500+ )
3. aspiring human resources professional, raleigh-durham, north carolina area (connections: 44)
4. people development coordinator at ryan, denton, texas (connections: 500+ )
5. advisory board member at celal bayar university, i̇zmir, türkiye (connections: 500+ )
6. aspiring human resources specialist, greater new york city area (connections: 1)
7. student at humber college and aspiring human resources generalist, kanada (connections: 61)
8. hr senior specialist, san francisco bay area (connections: 500+ )
9. student at humber college and aspiring human resources generalist, kanada (connections: 61)
10. seeking human resources hris and generalist positions, greater philadelphia area (connections: 500+ )
11. student at chapman university, lake forest, california (connections: 2)
12. svp, chro, marketing & communications, csr officer | engie | houston | the woodlands | energy | gphr | sphr, houston, texas area (connections: 500+ )
13. human resources coordinator at intercontinental buckhead atlanta, atlanta, georgia (connections: 500+ )


--- Chunk 2 Instruction ---

Rank each candidate for relevance to: "aspiring human resources OR seeking human resources"

IMPORTANT:
- Output ONLY a JSON array.
- Each item must have "index" and "score".
- Scores must be continuous values strictly **greater than 0 and less than 1** (e.g., 0.01 to 0.99).
- Do NOT use binary scoring (0 or 1).
- Include ALL candidates.
- Round scores to EXACTLY 2 decimals.
- Do NOT truncate output.

Example (do NOT copy scores):
[
  {"index": 1, "score": <score>},
  {"index": 2, "score": <score>}
]

Candidates:
1. 2019 c.t. bauer college of business graduate (magna cum laude) and aspiring human resources professional, houston, texas (connections: 85)
2. 2019 c.t. bauer college of business graduate (magna cum laude) and aspiring human resources professional, houston, texas (connections: 85)
3. native english teacher at epik (english program in korea), kanada (connections: 500+ )
4. aspiring human resources professional, raleigh-durham, north carolina area (connections: 44)
5. people development coordinator at ryan, denton, texas (connections: 500+ )
6. 2019 c.t. bauer college of business graduate (magna cum laude) and aspiring human resources professional, houston, texas (connections: 85)
7. native english teacher at epik (english program in korea), kanada (connections: 500+ )
8. aspiring human resources professional, raleigh-durham, north carolina area (connections: 44)
9. people development coordinator at ryan, denton, texas (connections: 500+ )
10. advisory board member at celal bayar university, i̇zmir, türkiye (connections: 500+ )
11. aspiring human resources specialist, greater new york city area (connections: 1)
12. student at humber college and aspiring human resources generalist, kanada (connections: 61)
13. hr senior specialist, san francisco bay area (connections: 500+ )


--- Chunk 3 Instruction ---

Rank each candidate for relevance to: "aspiring human resources OR seeking human resources"

IMPORTANT:
- Output ONLY a JSON array.
- Each item must have "index" and "score".
- Scores must be continuous values strictly **greater than 0 and less than 1** (e.g., 0.01 to 0.99).
- Do NOT use binary scoring (0 or 1).
- Include ALL candidates.
- Round scores to EXACTLY 2 decimals.
- Do NOT truncate output.

Example (do NOT copy scores):
[
  {"index": 1, "score": <score>},
  {"index": 2, "score": <score>}
]

Candidates:
1. aspiring human resources management student seeking an internship, houston, texas area (connections: 500+ )
2. seeking human resources opportunities, chicago, illinois (connections: 390)
3. aspiring human resources management student seeking an internship, houston, texas area (connections: 500+ )
4. seeking human resources opportunities, chicago, illinois (connections: 390)
5. 2019 c.t. bauer college of business graduate (magna cum laude) and aspiring human resources professional, houston, texas (connections: 85)
6. native english teacher at epik (english program in korea), kanada (connections: 500+ )
7. aspiring human resources professional, raleigh-durham, north carolina area (connections: 44)
8. people development coordinator at ryan, denton, texas (connections: 500+ )
9. advisory board member at celal bayar university, i̇zmir, türkiye (connections: 500+ )
10. aspiring human resources specialist, greater new york city area (connections: 1)
11. student at humber college and aspiring human resources generalist, kanada (connections: 61)
12. hr senior specialist, san francisco bay area (connections: 500+ )
13. student at humber college and aspiring human resources generalist, kanada (connections: 61)


--- Chunk 4 Instruction ---

Rank each candidate for relevance to: "aspiring human resources OR seeking human resources"

IMPORTANT:
- Output ONLY a JSON array.
- Each item must have "index" and "score".
- Scores must be continuous values strictly **greater than 0 and less than 1** (e.g., 0.01 to 0.99).
- Do NOT use binary scoring (0 or 1).
- Include ALL candidates.
- Round scores to EXACTLY 2 decimals.
- Do NOT truncate output.

Example (do NOT copy scores):
[
  {"index": 1, "score": <score>},
  {"index": 2, "score": <score>}
]

Candidates:
1. seeking human resources hris and generalist positions, greater philadelphia area (connections: 500+ )
2. student at chapman university, lake forest, california (connections: 2)
3. svp, chro, marketing & communications, csr officer | engie | houston | the woodlands | energy | gphr | sphr, houston, texas area (connections: 500+ )
4. human resources coordinator at intercontinental buckhead atlanta, atlanta, georgia (connections: 500+ )
5. 2019 c.t. bauer college of business graduate (magna cum laude) and aspiring human resources professional, houston, texas (connections: 85)
6. native english teacher at epik (english program in korea), kanada (connections: 500+ )
7. aspiring human resources professional, raleigh-durham, north carolina area (connections: 44)
8. people development coordinator at ryan, denton, texas (connections: 500+ )
9. advisory board member at celal bayar university, i̇zmir, türkiye (connections: 500+ )
10. aspiring human resources specialist, greater new york city area (connections: 1)
11. student at humber college and aspiring human resources generalist, kanada (connections: 61)
12. hr senior specialist, san francisco bay area (connections: 500+ )
13. student at humber college and aspiring human resources generalist, kanada (connections: 61)


--- Chunk 5 Instruction ---

Rank each candidate for relevance to: "aspiring human resources OR seeking human resources"

IMPORTANT:
- Output ONLY a JSON array.
- Each item must have "index" and "score".
- Scores must be continuous values strictly **greater than 0 and less than 1** (e.g., 0.01 to 0.99).
- Do NOT use binary scoring (0 or 1).
- Include ALL candidates.
- Round scores to EXACTLY 2 decimals.
- Do NOT truncate output.

Example (do NOT copy scores):
[
  {"index": 1, "score": <score>},
  {"index": 2, "score": <score>}
]

Candidates:
1. seeking human resources hris and generalist positions, greater philadelphia area (connections: 500+ )
2. student at chapman university, lake forest, california (connections: 2)
3. svp, chro, marketing & communications, csr officer | engie | houston | the woodlands | energy | gphr | sphr, houston, texas area (connections: 500+ )
4. human resources coordinator at intercontinental buckhead atlanta, atlanta, georgia (connections: 500+ )
5. 2019 c.t. bauer college of business graduate (magna cum laude) and aspiring human resources professional, houston, texas (connections: 85)
6. aspiring human resources professional, raleigh-durham, north carolina area (connections: 44)
7. people development coordinator at ryan, denton, texas (connections: 500+ )
8. aspiring human resources specialist, greater new york city area (connections: 1)
9. hr senior specialist, san francisco bay area (connections: 500+ )
10. seeking human resources hris and generalist positions, greater philadelphia area (connections: 500+ )
11. student at chapman university, lake forest, california (connections: 2)
12. svp, chro, marketing & communications, csr officer | engie | houston | the woodlands | energy | gphr | sphr, houston, texas area (connections: 500+ )
13. human resources coordinator at intercontinental buckhead atlanta, atlanta, georgia (connections: 500+ )


--- Chunk 6 Instruction ---

Rank each candidate for relevance to: "aspiring human resources OR seeking human resources"

IMPORTANT:
- Output ONLY a JSON array.
- Each item must have "index" and "score".
- Scores must be continuous values strictly **greater than 0 and less than 1** (e.g., 0.01 to 0.99).
- Do NOT use binary scoring (0 or 1).
- Include ALL candidates.
- Round scores to EXACTLY 2 decimals.
- Do NOT truncate output.

Example (do NOT copy scores):
[
  {"index": 1, "score": <score>},
  {"index": 2, "score": <score>}
]

Candidates:
1. experienced retail manager and aspiring human resources professional, austin, texas area (connections: 57)
2. human resources, staffing and recruiting professional, jackson, mississippi area (connections: 500+ )
3. human resources specialist at luxottica, greater new york city area (connections: 500+ )
4. director of human resources north america, groupe beneteau, greater grand rapids, michigan area (connections: 500+ )
5. retired army national guard recruiter, office manager,  seeking a position in human resources., virginia beach, virginia (connections: 82)
6. human resources generalist at scottmadden, inc., raleigh-durham, north carolina area (connections: 500+ )
7. business management major and aspiring human resources manager, monroe, louisiana area (connections: 5)
8. aspiring human resources manager, seeking internship in human resources., houston, texas area (connections: 7)
9. human resources professional, greater boston area (connections: 16)
10. nortia staffing is seeking human resources, payroll & administrative professionals!!  (408) 709-2621, san jose, california (connections: 500+ )
11. aspiring human resources professional | passionate about helping to create an inclusive and engaging work environment, new york, new york (connections: 212)
12. human resources|
conflict management|
policies & procedures|talent management|benefits & compensation, dallas/fort worth area (connections: 409)
13. human resources generalist at schwan's, amerika birleşik devletleri (connections: 500+ )


--- Chunk 7 Instruction ---

Rank each candidate for relevance to: "aspiring human resources OR seeking human resources"

IMPORTANT:
- Output ONLY a JSON array.
- Each item must have "index" and "score".
- Scores must be continuous values strictly **greater than 0 and less than 1** (e.g., 0.01 to 0.99).
- Do NOT use binary scoring (0 or 1).
- Include ALL candidates.
- Round scores to EXACTLY 2 decimals.
- Do NOT truncate output.

Example (do NOT copy scores):
[
  {"index": 1, "score": <score>},
  {"index": 2, "score": <score>}
]

Candidates:
1. liberal arts major. aspiring human resources analyst., baton rouge, louisiana area (connections: 7)
2. junior mes engineer| information systems, myrtle beach, south carolina area (connections: 52)
3. senior human resources business partner at heil environmental, chattanooga, tennessee area (connections: 455)
4. aspiring human resources professional | an energetic and team-focused leader, austin, texas area (connections: 174)
5. hr manager at endemol shine north america, los angeles, california (connections: 268)
6. human resources professional for the world leader in gis software, highland, california (connections: 50)
7. rrp brand portfolio executive at jti (japan tobacco international), greater philadelphia area (connections: 500+ )
8. information systems specialist and programmer with a love for data and organization., gaithersburg, maryland (connections: 4)
9. bachelor of science in biology from victoria university of wellington, baltimore, maryland (connections: 40)
10. human resources management major, milpitas, california (connections: 18)
11. director human resources  at ey, greater atlanta area (connections: 349)
12. undergraduate research assistant at styczynski lab, greater atlanta area (connections: 155)
13. lead official at western illinois university, greater chicago area (connections: 39)


--- Chunk 8 Instruction ---

Rank each candidate for relevance to: "aspiring human resources OR seeking human resources"

IMPORTANT:
- Output ONLY a JSON array.
- Each item must have "index" and "score".
- Scores must be continuous values strictly **greater than 0 and less than 1** (e.g., 0.01 to 0.99).
- Do NOT use binary scoring (0 or 1).
- Include ALL candidates.
- Round scores to EXACTLY 2 decimals.
- Do NOT truncate output.

Example (do NOT copy scores):
[
  {"index": 1, "score": <score>},
  {"index": 2, "score": <score>}
]

Candidates:
1. seeking employment opportunities within customer service or patient care, torrance, california (connections: 64)
2. admissions representative at community medical center long beach, long beach, california (connections: 9)
3. seeking human  resources opportunities. open to travel and relocation., amerika birleşik devletleri (connections: 415)
4. student at westfield state university, bridgewater, massachusetts (connections: 57)
5. student at indiana university kokomo - business management -
retail manager at delphi hardware and paint, lafayette, indiana (connections: 19)
6. aspiring human resources professional, kokomo, indiana area (connections: 71)
7. student, houston, texas area (connections: 4)
8. seeking human resources position, las vegas, nevada area (connections: 48)
9. aspiring human resources manager | graduating may 2020 | seeking an entry-level human resources position in st. louis, cape girardeau, missouri (connections: 103)
10. human resources generalist at loparex, raleigh-durham, north carolina area (connections: 500+ )
11. business intelligence and analytics at travelers, greater new york city area (connections: 49)
12. always set them up for success, greater los angeles area (connections: 500+ )
13. director of administration at excellence logging, katy, texas (connections: 500+ )

#### Get the API key from environmental variables

In [61]:
api_key = os.getenv("GEMINI_API_KEY")
print(bool(api_key))

True

#### Configure the client

In [63]:
client = genai.Client(api_key=api_key)

#### Specify the model

In [65]:

model_name = "models/gemini-2.5-flash"

print(f"Client configured. Ready to use model: {model_name}")

Client configured. Ready to use model: models/gemini-2.5-flash

#### define the model's behavior, work to do and call it.

In [67]:
# Store one output per chunk
chunk_outputs = []

for chunk_idx, instruction in enumerate(chunk_instructions, start=1):

    # Build prompt *exactly the same format as your working version*
    full_prompt = (
        "System: You are an expert HR ranking system. Output ONLY valid JSON.\n\n"
        "User:\n" + instruction
    )

    # Call Gemini
    response = client.models.generate_content(
        model=model_name,
        contents=full_prompt,
        config={
            "max_output_tokens": 4000,
            "temperature": 0.0,
        }
    )

    # Extract raw JSON text from model
    model_output_json = response.text
    chunk_outputs.append(model_output_json)

    # Preview
    print(f"\n--- RAW OUTPUT for Chunk {chunk_idx} ---")
    print(model_output_json[:2000])

--- RAW OUTPUT for Chunk 1 ---
```json
[
  {"index": 1, "score": 0.95},
  {"index": 2, "score": 0.01},
  {"index": 3, "score": 0.94},
  {"index": 4, "score": 0.50},
  {"index": 5, "score": 0.01},
  {"index": 6, "score": 0.93},
  {"index": 7, "score": 0.92},
  {"index": 8, "score": 0.60},
  {"index": 9, "score": 0.92},
  {"index": 10, "score": 0.96},
  {"index": 11, "score": 0.01},
  {"index": 12, "score": 0.70},
  {"index": 13, "score": 0.55}
]
```

--- RAW OUTPUT for Chunk 2 ---
```json
[
  {"index": 1, "score": 0.95},
  {"index": 2, "score": 0.95},
  {"index": 3, "score": 0.05},
  {"index": 4, "score": 0.95},
  {"index": 5, "score": 0.35},
  {"index": 6, "score": 0.95},
  {"index": 7, "score": 0.05},
  {"index": 8, "score": 0.95},
  {"index": 9, "score": 0.35},
  {"index": 10, "score": 0.05},
  {"index": 11, "score": 0.94},
  {"index": 12, "score": 0.94},
  {"index": 13, "score": 0.55}
]
```

--- RAW OUTPUT for Chunk 3 ---
```json
[
  {"index": 1, "score": 0.97},
  {"index": 2, "score": 0.96},
  {"index": 3, "score": 0.97},
  {"index": 4, "score": 0.96},
  {"index": 5, "score": 0.94},
  {"index": 6, "score": 0.05},
  {"index": 7, "score": 0.94},
  {"index": 8, "score": 0.45},
  {"index": 9, "score": 0.05},
  {"index": 10, "score": 0.94},
  {"index": 11, "score": 0.94},
  {"index": 12, "score": 0.40},
  {"index": 13, "score": 0.94}
]
```

--- RAW OUTPUT for Chunk 4 ---
```json
[
  {"index": 1, "score": 0.98},
  {"index": 2, "score": 0.03},
  {"index": 3, "score": 0.15},
  {"index": 4, "score": 0.18},
  {"index": 5, "score": 0.97},
  {"index": 6, "score": 0.02},
  {"index": 7, "score": 0.96},
  {"index": 8, "score": 0.35},
  {"index": 9, "score": 0.01},
  {"index": 10, "score": 0.95},
  {"index": 11, "score": 0.94},
  {"index": 12, "score": 0.12},
  {"index": 13, "score": 0.93}
]
```

--- RAW OUTPUT for Chunk 5 ---
```json
[
  {"index": 1, "score": 0.98},
  {"index": 2, "score": 0.10},
  {"index": 3, "score": 0.02},
  {"index": 4, "score": 0.55},
  {"index": 5, "score": 0.97},
  {"index": 6, "score": 0.97},
  {"index": 7, "score": 0.35},
  {"index": 8, "score": 0.96},
  {"index": 9, "score": 0.60},
  {"index": 10, "score": 0.98},
  {"index": 11, "score": 0.10},
  {"index": 12, "score": 0.02},
  {"index": 13, "score": 0.55}
]
```

--- RAW OUTPUT for Chunk 6 ---
```json
[
  {"index": 1, "score": 0.95},
  {"index": 2, "score": 0.35},
  {"index": 3, "score": 0.35},
  {"index": 4, "score": 0.15},
  {"index": 5, "score": 0.90},
  {"index": 6, "score": 0.35},
  {"index": 7, "score": 0.95},
  {"index": 8, "score": 0.98},
  {"index": 9, "score": 0.35},
  {"index": 10, "score": 0.05},
  {"index": 11, "score": 0.95},
  {"index": 12, "score": 0.25},
  {"index": 13, "score": 0.35}
]
```

--- RAW OUTPUT for Chunk 7 ---
```json
[
  {"index": 1, "score": 0.95},
  {"index": 2, "score": 0.05},
  {"index": 3, "score": 0.40},
  {"index": 4, "score": 0.98},
  {"index": 5, "score": 0.45},
  {"index": 6, "score": 0.42},
  {"index": 7, "score": 0.03},
  {"index": 8, "score": 0.04},
  {"index": 9, "score": 0.02},
  {"index": 10, "score": 0.90},
  {"index": 11, "score": 0.48},
  {"index": 12, "score": 0.01},
  {"index": 13, "score": 0.01}
]
```

--- RAW OUTPUT for Chunk 8 ---
```json
[
  {"index": 1, "score": 0.05},
  {"index": 2, "score": 0.03},
  {"index": 3, "score": 0.95},
  {"index": 4, "score": 0.02},
  {"index": 5, "score": 0.04},
  {"index": 6, "score": 0.97},
  {"index": 7, "score": 0.01},
  {"index": 8, "score": 0.96},
  {"index": 9, "score": 0.99},
  {"index": 10, "score": 0.45},
  {"index": 11, "score": 0.06},
  {"index": 12, "score": 0.07},
  {"index": 13, "score": 0.08}
]
```

#### Examine the raw output

In [69]:
print("RAW RESPONSE TEXT:\n", repr(model_output_json))

RAW RESPONSE TEXT:
 '```json\n[\n  {"index": 1, "score": 0.05},\n  {"index": 2, "score": 0.03},\n  {"index": 3, "score": 0.95},\n  {"index": 4, "score": 0.02},\n  {"index": 5, "score": 0.04},\n  {"index": 6, "score": 0.97},\n  {"index": 7, "score": 0.01},\n  {"index": 8, "score": 0.96},\n  {"index": 9, "score": 0.99},\n  {"index": 10, "score": 0.45},\n  {"index": 11, "score": 0.06},\n  {"index": 12, "score": 0.07},\n  {"index": 13, "score": 0.08}\n]\n```'

#### Extract clean json

In [71]:

def extract_json(raw_text):
    # Remove ```json and ```
    cleaned = re.sub(r"```json|```", "", raw_text).strip()
    return json.loads(cleaned)

#### parse the extracted json

In [73]:
parsed_chunks = [extract_json(chunk) for chunk in chunk_outputs]

# Merge chunks while preserving original IDs
all_scores = [item for chunk in parsed_chunks for item in chunk]

# Now 'all_scores' keeps the original dataset indices
print(all_scores[:10])  # preview first 10 horizontally

[{'index': 1, 'score': 0.95}, {'index': 2, 'score': 0.01}, {'index': 3, 'score': 0.94}, {'index': 4, 'score': 0.5}, {'index': 5, 'score': 0.01}, {'index': 6, 'score': 0.93}, {'index': 7, 'score': 0.92}, {'index': 8, 'score': 0.6}, {'index': 9, 'score': 0.92}, {'index': 10, 'score': 0.96}]

#### Convert the parsed json to pandas dataframe and add to original df

In [75]:
# Convert to a DataFrame
scores_df = pd.DataFrame(all_scores)

# Merge with original df on 'id' (assuming 'index' in all_scores matches 'id')
df['score'] = scores_df['score']

# Print id, text, and score
print(df[['id', 'text', 'score']].head(50))

    id                                               text  score
0    1  2019 c.t. bauer college of business graduate (...   0.95
1    2  native english teacher at epik (english progra...   0.01
2    3  aspiring human resources professional, raleigh...   0.94
3    4  people development coordinator at ryan, denton...   0.50
4    5  advisory board member at celal bayar universit...   0.01
5    6  aspiring human resources specialist, greater n...   0.93
6    7  student at humber college and aspiring human r...   0.92
7    8  hr senior specialist, san francisco bay area (...   0.60
8    9  student at humber college and aspiring human r...   0.92
9   10  seeking human resources hris and generalist po...   0.96
10  11  student at chapman university, lake forest, ca...   0.01
11  12  svp, chro, marketing & communications, csr off...   0.70
12  13  human resources coordinator at intercontinenta...   0.55
13  14  2019 c.t. bauer college of business graduate (...   0.95
14  15  2019 c.t. bauer college of business graduate (...   0.95
15  16  native english teacher at epik (english progra...   0.05
16  17  aspiring human resources professional, raleigh...   0.95
17  18  people development coordinator at ryan, denton...   0.35
18  19  2019 c.t. bauer college of business graduate (...   0.95
19  20  native english teacher at epik (english progra...   0.05
20  21  aspiring human resources professional, raleigh...   0.95
21  22  people development coordinator at ryan, denton...   0.35
22  23  advisory board member at celal bayar universit...   0.05
23  24  aspiring human resources specialist, greater n...   0.94
24  25  student at humber college and aspiring human r...   0.94
25  26  hr senior specialist, san francisco bay area (...   0.55
26  27  aspiring human resources management student se...   0.97
27  28  seeking human resources opportunities, chicago...   0.96
28  29  aspiring human resources management student se...   0.97
29  30  seeking human resources opportunities, chicago...   0.96
30  31  2019 c.t. bauer college of business graduate (...   0.94
31  32  native english teacher at epik (english progra...   0.05
32  33  aspiring human resources professional, raleigh...   0.94
33  34  people development coordinator at ryan, denton...   0.45
34  35  advisory board member at celal bayar universit...   0.05
35  36  aspiring human resources specialist, greater n...   0.94
36  37  student at humber college and aspiring human r...   0.94
37  38  hr senior specialist, san francisco bay area (...   0.40
38  39  student at humber college and aspiring human r...   0.94
39  40  seeking human resources hris and generalist po...   0.98
40  41  student at chapman university, lake forest, ca...   0.03
41  42  svp, chro, marketing & communications, csr off...   0.15
42  43  human resources coordinator at intercontinenta...   0.18
43  44  2019 c.t. bauer college of business graduate (...   0.97
44  45  native english teacher at epik (english progra...   0.02
45  46  aspiring human resources professional, raleigh...   0.96
46  47  people development coordinator at ryan, denton...   0.35
47  48  advisory board member at celal bayar universit...   0.01
48  49  aspiring human resources specialist, greater n...   0.95
49  50  student at humber college and aspiring human r...   0.94

#### Sort the candidates in acsending order

In [77]:
# Sort by score, highest first
df_sorted = df.sort_values(by='score', ascending=False)

# Reset index if you want a clean 0..n index
df_sorted = df_sorted.reset_index(drop=True)

# Print id, text, and score
print(df_sorted[['id', 'text', 'score']].head(50))

     id                                               text  score
0   100  aspiring human resources manager | graduating ...   0.99
1    40  seeking human resources hris and generalist po...   0.98
2    53  seeking human resources hris and generalist po...   0.98
3    73  aspiring human resources manager, seeking inte...   0.98
4    62  seeking human resources hris and generalist po...   0.98
5    82  aspiring human resources professional | an ene...   0.98
6    29  aspiring human resources management student se...   0.97
7    27  aspiring human resources management student se...   0.97
8    44  2019 c.t. bauer college of business graduate (...   0.97
9    57  2019 c.t. bauer college of business graduate (...   0.97
10   58  aspiring human resources professional, raleigh...   0.97
11   97  aspiring human resources professional, kokomo,...   0.97
12   99  seeking human resources position, las vegas, n...   0.96
13   46  aspiring human resources professional, raleigh...   0.96
14   60  aspiring human resources specialist, greater n...   0.96
15   10  seeking human resources hris and generalist po...   0.96
16   28  seeking human resources opportunities, chicago...   0.96
17   30  seeking human resources opportunities, chicago...   0.96
18   17  aspiring human resources professional, raleigh...   0.95
19   14  2019 c.t. bauer college of business graduate (...   0.95
20   19  2019 c.t. bauer college of business graduate (...   0.95
21   21  aspiring human resources professional, raleigh...   0.95
22   79  liberal arts major. aspiring human resources a...   0.95
23   76  aspiring human resources professional | passio...   0.95
24   49  aspiring human resources specialist, greater n...   0.95
25   94  seeking human  resources opportunities. open t...   0.95
26   72  business management major and aspiring human r...   0.95
27   66  experienced retail manager and aspiring human ...   0.95
28    1  2019 c.t. bauer college of business graduate (...   0.95
29   15  2019 c.t. bauer college of business graduate (...   0.95
30   25  student at humber college and aspiring human r...   0.94
31   33  aspiring human resources professional, raleigh...   0.94
32   37  student at humber college and aspiring human r...   0.94
33   36  aspiring human resources specialist, greater n...   0.94
34   24  aspiring human resources specialist, greater n...   0.94
35   39  student at humber college and aspiring human r...   0.94
36    3  aspiring human resources professional, raleigh...   0.94
37   50  student at humber college and aspiring human r...   0.94
38   31  2019 c.t. bauer college of business graduate (...   0.94
39    6  aspiring human resources specialist, greater n...   0.93
40   52  student at humber college and aspiring human r...   0.93
41    7  student at humber college and aspiring human r...   0.92
42    9  student at humber college and aspiring human r...   0.92
43   70  retired army national guard recruiter, office ...   0.90
44   88  human resources management major, milpitas, ca...   0.90
45   12  svp, chro, marketing & communications, csr off...   0.70
46   61  hr senior specialist, san francisco bay area (...   0.60
47    8  hr senior specialist, san francisco bay area (...   0.60
48   65  human resources coordinator at intercontinenta...   0.55
49   26  hr senior specialist, san francisco bay area (...   0.55

#### View the full length of the text and top 50

In [79]:
pd.set_option('display.max_colwidth', None)

df_sorted[["id", "text", "score"]].head(50)

,id,text,score
0,100,"aspiring human resources manager | graduating may 2020 | seeking an entry-level human resources position in st. louis, cape girardeau, missouri (connections: 103)",0.99
1,40,"seeking human resources hris and generalist positions, greater philadelphia area (connections: 500+ )",0.98
2,53,"seeking human resources hris and generalist positions, greater philadelphia area (connections: 500+ )",0.98
3,73,"aspiring human resources manager, seeking internship in human resources., houston, texas area (connections: 7)",0.98
4,62,"seeking human resources hris and generalist positions, greater philadelphia area (connections: 500+ )",0.98
5,82,"aspiring human resources professional | an energetic and team-focused leader, austin, texas area (connections: 174)",0.98
6,29,"aspiring human resources management student seeking an internship, houston, texas area (connections: 500+ )",0.97
7,27,"aspiring human resources management student seeking an internship, houston, texas area (connections: 500+ )",0.97
8,44,"2019 c.t. bauer college of business graduate (magna cum laude) and aspiring human resources professional, houston, texas (connections: 85)",0.97
9,57,"2019 c.t. bauer college of business graduate (magna cum laude) and aspiring human resources professional, houston, texas (connections: 85)",0.97
10,58,"aspiring human resources professional, raleigh-durham, north carolina area (connections: 44)",0.97
11,97,"aspiring human resources professional, kokomo, indiana area (connections: 71)",0.97
12,99,"seeking human resources position, las vegas, nevada area (connections: 48)",0.96
13,46,"aspiring human resources professional, raleigh-durham, north carolina area (connections: 44)",0.96
14,60,"aspiring human resources specialist, greater new york city area (connections: 1)",0.96
15,10,"seeking human resources hris and generalist positions, greater philadelphia area (connections: 500+ )",0.96
16,28,"seeking human resources opportunities, chicago, illinois (connections: 390)",0.96
17,30,"seeking human resources opportunities, chicago, illinois (connections: 390)",0.96
18,17,"aspiring human resources professional, raleigh-durham, north carolina area (connections: 44)",0.95
19,14,"2019 c.t. bauer college of business graduate (magna cum laude) and aspiring human resources professional, houston, texas (connections: 85)",0.95
20,19,"2019 c.t. bauer college of business graduate (magna cum laude) and aspiring human resources professional, houston, texas (connections: 85)",0.95
21,21,"aspiring human resources professional, raleigh-durham, north carolina area (connections: 44)",0.95
22,79,"liberal arts major. aspiring human resources analyst., baton rouge, louisiana area (connections: 7)",0.95
23,76,"aspiring human resources professional | passionate about helping to create an inclusive and engaging work environment, new york, new york (connections: 212)",0.95
24,49,"aspiring human resources specialist, greater new york city area (connections: 1)",0.95
25,94,"seeking human resources opportunities. open to travel and relocation., amerika birleşik devletleri (connections: 415)",0.95
26,72,"business management major and aspiring human resources manager, monroe, louisiana area (connections: 5)",0.95
27,66,"experienced retail manager and aspiring human resources professional, austin, texas area (connections: 57)",0.95
28,1,"2019 c.t. bauer college of business graduate (magna cum laude) and aspiring human resources professional, houston, texas (connections: 85)",0.95
29,15,"2019 c.t. bauer college of business graduate (magna cum laude) and aspiring human resources professional, houston, texas (connections: 85)",0.95
30,25,"student at humber college and aspiring human resources generalist, kanada (connections: 61)",0.94
31,33,"aspiring human resources professional, raleigh-durham, north carolina area (connections: 44)",0.94
32,37,"student at humber college and aspiring human resources generalist, kanada (connections: 61)",0.94
33,36,"aspiring human resources specialist, greater new york city area (connections: 1)",0.94
34,24,"aspiring human resources specialist, greater new york city area (connections: 1)",0.94
35,39,"student at humber college and aspiring human resources generalist, kanada (connections: 61)",0.94
36,3,"aspiring human resources professional, raleigh-durham, north carolina area (connections: 44)",0.94
37,50,"student at humber college and aspiring human resources generalist, kanada (connections: 61)",0.94
38,31,"2019 c.t. bauer college of business graduate (magna cum laude) and aspiring human resources professional, houston, texas (connections: 85)",0.94
39,6,"aspiring human resources specialist, greater new york city area (connections: 1)",0.93
40,52,"student at humber college and aspiring human resources generalist, kanada (connections: 61)",0.93
41,7,"student at humber college and aspiring human resources generalist, kanada (connections: 61)",0.92
42,9,"student at humber college and aspiring human resources generalist, kanada (connections: 61)",0.92
43,70,"retired army national guard recruiter, office manager, seeking a position in human resources., virginia beach, virginia (connections: 82)",0.90
44,88,"human resources management major, milpitas, california (connections: 18)",0.90
45,12,"svp, chro, marketing & communications, csr officer | engie | houston | the woodlands | energy | gphr | sphr, houston, texas area (connections: 500+ )",0.70
46,61,"hr senior specialist, san francisco bay area (connections: 500+ )",0.60
47,8,"hr senior specialist, san francisco bay area (connections: 500+ )",0.60
48,65,"human resources coordinator at intercontinental buckhead atlanta, atlanta, georgia (connections: 500+ )",0.55
49,26,"hr senior specialist, san francisco bay area (connections: 500+ )",0.55

#### view the bottom 50

In [81]:
#pd.set_option('display.max_colwidth', None)
df_sorted[["id", "text", "score"]].tail(50)

,id,text,score
54,83,"hr manager at endemol shine north america, los angeles, california (connections: 268)",0.45
55,34,"people development coordinator at ryan, denton, texas (connections: 500+ )",0.45
56,101,"human resources generalist at loparex, raleigh-durham, north carolina area (connections: 500+ )",0.45
57,84,"human resources professional for the world leader in gis software, highland, california (connections: 50)",0.42
58,38,"hr senior specialist, san francisco bay area (connections: 500+ )",0.40
59,81,"senior human resources business partner at heil environmental, chattanooga, tennessee area (connections: 455)",0.40
60,67,"human resources, staffing and recruiting professional, jackson, mississippi area (connections: 500+ )",0.35
61,59,"people development coordinator at ryan, denton, texas (connections: 500+ )",0.35
62,47,"people development coordinator at ryan, denton, texas (connections: 500+ )",0.35
63,68,"human resources specialist at luxottica, greater new york city area (connections: 500+ )",0.35
64,22,"people development coordinator at ryan, denton, texas (connections: 500+ )",0.35
65,18,"people development coordinator at ryan, denton, texas (connections: 500+ )",0.35
66,74,"human resources professional, greater boston area (connections: 16)",0.35
67,71,"human resources generalist at scottmadden, inc., raleigh-durham, north carolina area (connections: 500+ )",0.35
68,78,"human resources generalist at schwan's, amerika birleşik devletleri (connections: 500+ )",0.35
69,77,"human resources|\nconflict management|\npolicies & procedures|talent management|benefits & compensation, dallas/fort worth area (connections: 409)",0.25
70,43,"human resources coordinator at intercontinental buckhead atlanta, atlanta, georgia (connections: 500+ )",0.18
71,42,"svp, chro, marketing & communications, csr officer | engie | houston | the woodlands | energy | gphr | sphr, houston, texas area (connections: 500+ )",0.15
72,69,"director of human resources north america, groupe beneteau, greater grand rapids, michigan area (connections: 500+ )",0.15
73,51,"hr senior specialist, san francisco bay area (connections: 500+ )",0.12
74,54,"student at chapman university, lake forest, california (connections: 2)",0.10
75,63,"student at chapman university, lake forest, california (connections: 2)",0.10
76,104,"director of administration at excellence logging, katy, texas (connections: 500+ )",0.08
77,103,"always set them up for success, greater los angeles area (connections: 500+ )",0.07
78,102,"business intelligence and analytics at travelers, greater new york city area (connections: 49)",0.06
79,32,"native english teacher at epik (english program in korea), kanada (connections: 500+ )",0.05
80,80,"junior mes engineer| information systems, myrtle beach, south carolina area (connections: 52)",0.05
81,92,"seeking employment opportunities within customer service or patient care, torrance, california (connections: 64)",0.05
82,23,"advisory board member at celal bayar university, i̇zmir, türkiye (connections: 500+ )",0.05
83,35,"advisory board member at celal bayar university, i̇zmir, türkiye (connections: 500+ )",0.05
84,20,"native english teacher at epik (english program in korea), kanada (connections: 500+ )",0.05
85,16,"native english teacher at epik (english program in korea), kanada (connections: 500+ )",0.05
86,75,"nortia staffing is seeking human resources, payroll & administrative professionals!! (408) 709-2621, san jose, california (connections: 500+ )",0.05
87,96,"student at indiana university kokomo - business management - \nretail manager at delphi hardware and paint, lafayette, indiana (connections: 19)",0.04
88,86,"information systems specialist and programmer with a love for data and organization., gaithersburg, maryland (connections: 4)",0.04
89,41,"student at chapman university, lake forest, california (connections: 2)",0.03
90,93,"admissions representative at community medical center long beach, long beach, california (connections: 9)",0.03
91,85,"rrp brand portfolio executive at jti (japan tobacco international), greater philadelphia area (connections: 500+ )",0.03
92,95,"student at westfield state university, bridgewater, massachusetts (connections: 57)",0.02
93,64,"svp, chro, marketing & communications, csr officer | engie | houston | the woodlands | energy | gphr | sphr, houston, texas area (connections: 500+ )",0.02
94,55,"svp, chro, marketing & communications, csr officer | engie | houston | the woodlands | energy | gphr | sphr, houston, texas area (connections: 500+ )",0.02
95,45,"native english teacher at epik (english program in korea), kanada (connections: 500+ )",0.02
96,87,"bachelor of science in biology from victoria university of wellington, baltimore, maryland (connections: 40)",0.02
97,11,"student at chapman university, lake forest, california (connections: 2)",0.01
98,2,"native english teacher at epik (english program in korea), kanada (connections: 500+ )",0.01
99,5,"advisory board member at celal bayar university, i̇zmir, türkiye (connections: 500+ )",0.01
100,48,"advisory board member at celal bayar university, i̇zmir, türkiye (connections: 500+ )",0.01
101,91,"lead official at western illinois university, greater chicago area (connections: 39)",0.01
102,90,"undergraduate research assistant at styczynski lab, greater atlanta area (connections: 155)",0.01
103,98,"student, houston, texas area (connections: 4)",0.01